<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vshdi.hello.spring.boot.mybatis.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.vshdi.hello.spring.boot.mybatis.entity.City">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="citycode" jdbcType="VARCHAR" property="citycode" />
    <result column="yzcode" jdbcType="VARCHAR" property="yzcode" />
    <result column="mername" jdbcType="VARCHAR" property="mername" />
    <result column="Lng" jdbcType="REAL" property="lng" />
    <result column="Lat" jdbcType="REAL" property="lat" />
    <result column="pinyin" jdbcType="VARCHAR" property="pinyin" />
  </resultMap>
</mapper>